<configuration>
    <!-- Appender que escribe a la consola -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Encoder en formato JSON -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <!-- Logger raíz: solo nivel ERROR -->
    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
